[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[packages]
flask = "*"
waitress = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
